@import "./normalize.css";

/* 自定义的初始化 样式*/
:root {
  --cl-text: #666;   /* 默认的字体颜色 */
  --cl-text-t9: #999999; /* 较浅的文字颜色 */
  --cl-high-text: #7EB6FF;   /* 高亮时的字体的颜色 */
  --cl-dark-text: #34AEFF;   /* 较深的文字颜色 */

  --cl-bg-theme: #7EB6FF;   /* 主题背景颜色 */
  --cl-bg-tF: #fff;   /* 亮色背景颜色 */
  --cl-bg-t9: #999999;  /* 浅色的背景颜色 */
  --cl-bg-ta: #aaaaaa;  /* 浅色的背景颜色 */
  --cl-bg-tD: #DDDDDD;  /* 浅色的背景颜色 */
  --cl-bg-tF0: #f0f0f0;   /* 最浅背景颜色 */
  --cl-bg-tF8: #f8f8f8;   /* 最浅背景颜色 */
  --cl-bg-yel: #FFCA7E;   /* 自定义的黄色背景 */
  --ft-size: 14px;   /* 默认字体大小 */
  --ln-height: 1.5;   /* 默认行高 */
}

*,*::before,*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", Arial, sans-seriiif;
  user-select: none;   /* 禁止用户在页面上选中文字/图片等等 */
  -webkit-tap-highlight-color: transparent;   /* webkit是苹果浏览器, tap点击,highlight背景高亮, color颜色用数值调节 */
  background-color: var(--cl-bg-tF);
  color: var(--cl-text);
  width: 100vw;
}

a {
  color: var(--cl-text);
  text-decoration: none;
}

.clear-fix::after {
  clear: both;
  content: '';
  display: block;
  width: 0;
  height: 0;
  visibility: hidden;
}

.clear-fix {
  zoom: 1;
}

.left {
  float: left;
}

.right {
  float: right;
}



